#home-products {
    padding: 70px 0;

    .product-container {
        margin: 0 auto;
        max-width: 1280px;

        .category {
            ul {
                list-style-type: none;
                padding: 0;
                display: flex;

                li {
                    padding: 20px 30px;

                    &:nth-child(1) {
                        padding: 20px 30px 20px 0;
                    }

                    a {
                        text-decoration: none;
                        padding-bottom: 10px;
                        color: black;
                    }
                }

                li:hover a {
                    border-bottom: 1px solid black;
                }
            }
        }

        .home-card-container {
            width: 100%;
            display: flex;
            overflow-x: scroll;

            .shop-card {
                flex-shrink: 0;
                padding: 10px;
                box-sizing: border-box;
                width: 100%;
                text-align: center;

                .img-container {
                    position: relative;

                    img {
                        width: 100%;
                    }

                    .img-2 {
                        top: 0;
                        left: 0;
                        position: absolute;
                        opacity: 0;
                        z-index: 10;
                        transition: .2s;
                    }

                    .img-2:hover {
                        opacity: 1;
                    }

                    .read-more {
                        opacity: 0;
                        z-index: 20;
                        position: absolute;
                        top: 0;
                        left: 10px;
                        transform: translate(0, 0%);
                        transition: .2s;

                        button {
                            padding: 10px 15px;
                            background-color: black;
                            border: none;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }

            .shop-card:hover .read-more {
                opacity: 1;
                top: 10px;
            }
        }
    }
}

@media (min-width: 470px) {
    #home-products {
        .product-container {
            .home-card-container {
                .shop-card {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    #home-products {
        .product-container {
            .home-card-container {
                .shop-card {
                    width: 33.33%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #home-products {
        .product-container {
            .home-card-container {
                .shop-card {
                    width: 25%;
                }
            }
        }
    }
}