@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    .dark {
        background-color: rgb(30, 39, 51) !important;
        color: white !important;

        a {
            color: white !important;
        }

        p {
            color: white !important;
        }
    }

    .dark-logo {
        filter: invert(100%);
    }
}

@import 'header';
@import 'homeprod';
@import 'footer';
@import 'contact';
@import 'blog';
@import 'shop';
@import 'carousel';
@import 'nopage';
@import 'details'